* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ._acun {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: var(--desktop-nav-height);
    justify-content: center;
    max-width: calc(935px + 40px);
    padding: 0 20px;
    transition: height var(--desktop-nav-anim-duration) ease-in-out;
    width: 100%;
    z-index: 10;
} */

body {
    background-color: #fafafa;
}

nav {
    background-color: #fff;
    padding: 17px 0px;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.instalgram-logo {
    font-size: 24px;
    font-style: italic;
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

.search_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
}

.search {
    padding: 9px 28px;
    border-radius: 10px;
    border: 0;
    background-color: #efefef;
}

.nav-icon {
    margin-left: 35px;
}

.nav-icon i {
    padding: 0 15px;
    font-size: 23px;
    color: #000;
}

.nav-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 10px;
}


/* STYLING THE MAIN CONTENT */

.container-box1 {
    display: flex;
    /* justify-content: space-bet; */
    align-items: center;
    margin: 10px 280px;
}

.containter-box-img {
    background-color: #fff;
    display: flex;
    padding: 10px 0;
    border: 1px solid #efefef;
    border-radius: 8px;
    margin: 0 16px;
}

.img-cnt {
    margin: 0px 5px;
}

.containter-box-img img {
    /* padding: 10px; */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #af2634;
}

.container-aside {
    display: flex;
    margin: 0px 30px;
}

.container-aside img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.container-aside-cont,
.container-aside-cont1 {
    display: flex;
    margin-top: 30px;
}

.profile-name {
    margin-top: 20px;
    margin-left: 15px;
}

.container-aside-cont1 {
    margin-top: 60px;
    margin-left: 150px;
}


/* STYLING SECOND CONTAINER */

.container-box {
    margin: 10px 300px;
    border: 1px solid #efefef;
    background-color: #fff;
    width: 420px;
    border-radius: 10px;
}

.container-box-header {
    display: flex;
    justify-content: space-between;
}

.ellipis {
    margin: 20px;
}

.container-box-header1,
.icons,
.fter-info {
    display: flex;
    align-items: center;
    margin: 10px 15px;
}

.container-box-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #efefef;
    margin: 0 15px;
    border: 3px solid #af2634;
}

.display-img {
    width: 100%;
}

.icons,
.fter-info {
    justify-content: space-between;
}

.regular-icons i {
    margin: 8px;
    font-size: 25px;
}

.more-info {
    padding: 30px;
    line-height: 2em;
}


/* .fter-info {
    border: 1px solid #f2f3f5;
} */

.fter-info {
    padding: 5px;
    font-size: 18px;
}